@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
	background-color: #121212;
	font-family: Open Sans;
	color: #EEEEEE;
	font-size: 20px;
}

h1 {
	font-weight: 800;
}

a {
	text-decoration: none;
	color: #43bafa;
}

#hotlink {
	font-size: 20px;
	font-weight: 650;
}

.help {
	cursor: help;
}

.redlink {
	color: #f26b6b;
}

::-moz-selection {
  color: #121212;
  background: #EEEEEE;
}

::selection {
  color: #121212;
  background: #EEEEEE;
}
