@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  background-color: #121212;
}

h1 {
  color: #FFF;
  opacity: 0.87;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 28px;
}

h2 {
  color: #FFF;
  opacity: 0.87;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 20px;
}

p {
  color: #FFF;
  opacity: 0.87;
  font-family: Open Sans;
  font-weight: 500;
  font-size: 14.5px;
}
